<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="{{ site.author }}">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet" media="print" onload="this.media='all'; this.onload=null;">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet" media="print" onload="this.media='all'; this.onload=null;">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <link href="/style.css" rel="stylesheet" >
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>

    <body>
        {% include navigation.html %}

        {{ content }}

        <footer>
            <p>© {{ 'now' | date: "%Y" }} {{site.author}}.</p>
        </footer>
    </body>
</html>