<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>
        <meta name="description" content={{ page.description }}>
        <meta name="author" content={{ site.author }}>

        <link rel="stylesheet" href="/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        {% include navigation.html %}

        {{ content }}

        <footer>
            <p>© 2019 {{site.author}}.</p>
        </footer>
    </body>
</html>